/* body content */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
/* form */
#content{
    padding-top: 30px;
    margin: 0;
}
#button{
    margin: 20px;
    padding: 10px;
    height: auto;
    width: 100px;
    color: white;
    font-size: 18px;
    text-align: center;
}
/* result output */
#result{
    margin-top: 50px;
    display: none;
}
#success{
    display: none;
}
/* circular progress bar */
#progressBar {
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, rgba(66,128,90,1) 0%, rgba(145,186,52,1) 100%);;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    margin: 10px;
}
#progressBar:before {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 50%;
}
#valuePercent{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}